$grey: #e5e5e5;
$green: #046e62;
$unit: 16px;

@font-face {
  font-family: "ROADWAY_";
  src: url("../font/Roadway.ttf") format("truetype");
  font-display: swap;
}

// #preview-render {
//   font-family:
//     "ROADWAY_",
//     system-ui,
//     -apple-system,
//     BlinkMacSystemFont,
//     "Segoe UI",
//     sans-serif;
//   font-size: 32px;
//   color: $grey;
// }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ROADWAY_";
  font-size: $unit;
}

body {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signage {
  width: $unit * 30;
  height: $unit * 14.75;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  //3D effect
  transform-style: preserve-3d;
  transform-origin: center;
  cursor: grab;

  // to remove text/image selection
  user-select: none;
  -webkit-user-select: none;

  img {
    pointer-events: none;
    -webkit-user-selection: none;
  }
}

.signage:active {
  cursor: grabbing;
}

.grey-line {
  width: 100%;
  height: $unit;
  background-color: $grey;
}

.content-box {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: row;
  // justify-content: flex-start;
  align-items: space-between;
  background-color: $green;
}

.illust {
  width: 20%;
  height: 100%;
  margin-top: 14px;
  margin-left: 43px;
}

.text-box {
  width: 80%;
  height: 100%;
  margin-top: 4px;
  margin-left: 8px;
  color: $grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: flex-start;
  // gap: $unit * 0.5;
}

.en {
  p {
    text-align: center;
    font-size: $unit * 3.5;
    line-height: 3rem;
  }
}

.chinese {
  p {
    text-align: center;
    font-size: $unit;
  }
}
